# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
pnpm-lock.yaml
yarn.lock
package-lock.json

# build output
dist/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# generated types
.astro/

# dependencies
node_modules/

# environment variables
.env
.env.production
.env.local
